.calculator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  padding: 5px;
  background-color: grey;
}

.calculator Button {
  height: 50px;
  width: 50px;
}

.calc-screen {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.calc-button-0 {
  flex-grow: 1;
}
